@font-face {
    font-family: DM Sans;
    src: url(fonts/DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf) format(ttf);
    font-weight: 100;
}
@font-face {
    font-family: Inter;
    src: url(fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf);
    font-weight: 200;
}
@font-face {
    font-family: Lato;
    src: url(fonts/Lato/Lato-Italic.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Monserrat;
    src: url(fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Noto_Sans;
    src: url(fonts/Noto_Sans/NotoSans-Italic-VariableFont_wdth\,wght.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Oswald;
    src: url(fonts/Oswald/Oswald-VariableFont_wght.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins/Poppins-Black.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Roboto_Flex;
    src: url(fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
    font-weight: 800;
}
@font-face {
    font-family: Roboto_Slap;
    src: url(fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
    font-weight: 900;
}